<div class="subitlecontainer"><h2 class="subtitle">Queen Anne's Cookies</h2></div>
<div class="grid">
<% text = "" %>
<% $cookies.shuffle!.each_index {|i| text << "<div><h3>#{$cookies[i].name}</h3><img class='pastry' src='#{$cookies[i].image}'><p>#{$cookies[i].description}</p><b>#{$cookies[i].price} / doz</b></div>" } %>
<%= text %>
</div>
