    <h2 class="big">Elegant Cakes</h1>
    <h2 class="med">Fresh Muffins</h2>
<div class="maingrid">
  <div class="flex">
    <img id="bigcake" src="images/vict.png"></div>

  <div class="recipe">
    <h2>Love baking? Try these recipes at home!</h2>
    <% $recipes.shuffle! %>
      <% i = 0 %>
        <% 3.times do %>
        <div>
          <% $ingredients = "" %>
          <% x = 0 %>
          <% while x < 4 %>
          <% $ingredients << "<li>" + $recipes[i].ingredients[x] + "</li>" %>
          <% x += 1 %>
            <% end %>

              <%= "<h3><a href='#{$recipes[i].url}'>#{$recipes[i].title}</a></h3><img src='#{$recipes[i].image}'>You'll need:<ul>#{$ingredients}</ul><p><a href='#{$recipes[i].url}'></p><p class='right'>read more...</a></p>" %>
            </div><hr>
              <% i += 1 %><% end %>
            </div>
          </div>
          <!-- cake from  http://www.summersymphonylive.com/9311/pic-of-sponge-14-05-2018/interesting-pic-of-sponge-victoria-cake-harriets-cafe-tearooms/ -->
