<div class="grid">
<% text = "" %>
<% $muffins.shuffle!.each_index {|i| text << "<div><h3>#{$muffins[i].name}</h3><img src='#{$muffins[i].image}'><p>#{$muffins[i].description}</p><b>#{$muffins[i].price} / doz</b></div>" } %>
<%= text %>
</div>
